.todo {
  border: 0.15rem solid orange;
  border-radius: 0.5rem;
  min-height: 6rem;
}


.todo-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100%;
}

.todo-title {
  color: rgb(230, 208, 6);
  font-size: 1.50rem;
}

.todo-checkbox {
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  accent-color: #0bdd16;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.todo-checkbox:hover {
  box-shadow: 0 0 0.2rem 0.125rem rgba(76, 175, 80, 0.5);
  transform: scale(1.1);
}

.delete-icon {
  color: red;
  cursor: pointer;
}

.delete-icon:hover {
  transform: scale(1.1);
}
